<% layerFilterList.forEach(function (layerFilter) { %>
    <p><strong><%= layerFilter.layerInfo.layerText.value %></strong></p>
        <table class="table">
            <tr>
                <th scope="col">Jahr</th>
                <th scope="col">Referenzwert</th>
                <th scope="col">-</th>
                <th scope="col">+</th>
            </tr>
            <% for (var key in layerFilter.filter) { %>
            <tr>
                <td><%= key %></td>
                <td><%= layerFilter.districtInfo.filter(function(item){ return item.key === key; })[0].value %></td>
                <td><%= layerFilter.filter[key][0] %></td>
                <td><%= layerFilter.filter[key][1] %></td>
            </tr>
            <% } %>
        </table>
<% }) %>
