addons.md
__example__addonsConf.json
exampleAddon
./node_modules/*
sdpDownload/node_modules/*
cosi/node_modules/*
OpenRouteService/node_modules/*
qr/node_modules/*

.vscode

node_modules
yarn.lock
