@import "~/css/mixins.scss";
@import "~variables";

.oktagon {
    .close, #oktagonCloseButton, #oktagonSubmitButton:not([disabled])  {
        opacity: 1;
        &:focus {
            @include primary_action_focus;
        }
        &:hover {
            @include primary_action_hover;
        }
    }
    .header {
        width: 100%;
        border-bottom: 1px solid $white;
        padding: 10px;
    }
    .tool-name {
        padding-left: 15px;
        font-family: $font_family_accent;
        font-size: 16px;
    }
}
@media (min-width: 768px) {
    .oktagon {
        .header {
            padding: 10px;
        }
    }
}
