<!DOCTYPE html>
<div class="btn-group header">
    <span class="glyphicon <%=glyphicon%>"></span>
    <span class="tool-name"><%= name %></span>
    <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
</div>
<div>
    <table class = "table table-condensed table-hover">
        <tbody>
        <%
        if (Object.keys(submitObject).length > 0) {
            Object.keys(submitObject).forEach(function(key) {%>
                <tr colspan="2">
                    <td class="font-bold">
                        <%= key + ""%>
                    </td>
                    <td>
                        <%= submitObject[key] %>
                    </td>
                </tr>
            <% });
        }%>
        </tbody>
    </table>
</div>
<div class="form-group col-md-12 col-xs-12">
    <button id = "oktagonCloseButton" type="button" class="btn btn-default btn-sm pull-left">
        Abbrechen
    </button>
    <button id = "oktagonSubmitButton" type="button" class="btn btn-default btn-sm pull-right">
        Senden
    </button>
</div>
