<table class="forged_table">
    <tr class="head_row">
        <th>
            <div class="styling_helper head_scope">
                {{ label }}
            </div>
        </th>
        <th>
            <div class="styling_helper">
                {{ Array.isArray(selectedFieldA.id) ? $t("additional:modules.tools.cosi.calculateRatio.availableColumns.addedSelection") : selectedFieldA.id }}
            </div>
        </th>
        <th>
            <div class="styling_helper">
                {{ Array.isArray(selectedFieldB.id) ? $t("additional:modules.tools.cosi.calculateRatio.availableColumns.addedSelection") : selectedFieldB.id }}
            </div>
        </th>
        <th v-if="fActive_A || fActive_B">
            <div class="styling_helper">
                {{ $t("additional:modules.tools.cosi.calculateRatio.availableColumns.capacity") }}
            </div>
        </th>
        <th v-if="fActive_A || fActive_B">
            <div class="styling_helper">
                {{ $t("additional:modules.tools.cosi.calculateRatio.availableColumns.need") }}
            </div>
        </th>
        <th>
            <div class="styling_helper">
                {{ Array.isArray(selectedFieldA.id) ? $t("additional:modules.tools.cosi.calculateRatio.availableColumns.addedSelection") : selectedFieldA.id }} / {{ Array.isArray(selectedFieldB.id) ? $t("additional:modules.tools.cosi.calculateRatio.availableColumns.addedSelection") : selectedFieldB.id }}
            </div>
        </th>
        <th>
            <div class="styling_helper">
                {{ $t("additional:modules.tools.cosi.calculateRatio.availableColumns.coverageOld") }}
            </div>
        </th>
    </tr>
    <tr
        v-for="result in results"
        :key="result.scope"
    >
        <td class="row_head">
            <div class="styling_helper scope">
                {{ result.scope }}
            </div>
        </td>
        <td>
            <div
                class="styling_helper"
            >
                {{ result.paramA_val.toLocaleString(currentLocale) }}
                <span v-if="result.data.incompleteDataSets_A > 0">*</span>
                <div class="hover_helper" v-if="result.data.incompleteDataSets_A > 0">
                    {{ result.data.incompleteDataSets_A.toLocaleString(currentLocale) }} / {{ result.data.dataSets_A.toLocaleString(currentLocale) }}
                </div>
            </div>
        </td>
        <td>
            <div
                class="styling_helper"
            >
                {{ result.paramB_val.toLocaleString(currentLocale) }}
                <span v-if="result.data.incompleteDataSets_B > 0">*</span>
                <div class="hover_helper" v-if="result.data.incompleteDataSets_B > 0">
                    {{ result.data.incompleteDataSets_B.toLocaleString(currentLocale) }} / {{ result.data.dataSets_B.toLocaleString(currentLocale) }}
                </div>
            </div>
        </td>
        <td v-if="fActive_A || fActive_B">
            <div class="styling_helper">
                {{ result.capacity.toLocaleString(currentLocale) }}
            </div>
        </td>
        <td v-if="fActive_A || fActive_B">
            <div class="styling_helper">
                {{ result.need.toLocaleString(currentLocale) }}
            </div>
        </td>
        <td>
            <div class="styling_helper">
                {{ result.relation.toLocaleString(currentLocale) }}
            </div>
        </td>
        <td>
            <div class="styling_helper">
                {{ result.coverage.toLocaleString(currentLocale) }}
            </div>
        </td>
    </tr>
</table>