
    <div class="info_template">
        <div class="info_header">
            <h3>Importierte Daten</h3>
        </div>
        <div class="info_abstract">
            <p>Das Werkzeug "Importierte Daten" dient dazu eigene Geo-Datensätze hochzuladen, zu visualisieren und mit den weiteren Funktionen von CoSI zu analysieren. 
            </p>
        </div>
        <div class="info_content">
            <img src="./assets/import_upload.jpg">
            <p>Im Folgenden finden Sie die einzelnen Funktionen des Werkzeugs im Detail erklärt:</p>
            <ul>
                <li><p><strong>1) </strong> Über den Button öffnen Sie dieses Hilfsfenster.</p></li>
                <li><p><strong>2) </strong> Sie können hier eine Datei per Drag and Drop hineinziehen. Ihre Datei wird dann automatisch eingespielt.</p></li>
                <li><p><strong>3) </strong> Hier öffnen Sie den Dateibrowser Ihres Computers, um eine Datei auszuwählen.</p></li>
                <li><p><strong>4) </strong> Geodaten sind in unterschiedlichen Projektionssystem kodiert. Sollten Sie nach dem Upload feststellen, dass Ihre Daten an den falschen Orten visualisiert werden, überprüfen Sie bitte, in welchem Projektionssystem Ihre Datei kodiert ist und geben Sie es bei einem erneuten Upload in diesem Auswahlfeld an.</p></li>
            </ul>
            <p>Sobald Sie Ihre Datei hier hochgeladen haben, erscheint ein neues Fenster, in welchem Sie bestimmte Funktionen haben, um den Layer aus der Datei zu generieren.</p>
            <img src="./assets/import_edit.jpg">
            <ul>
                <li><p><strong>5) </strong> Hier können Sie den Layer frei benennen. Standardmäßig wird der Name der hochgeladenen Datei verwendet.</p></li>
                <li><p><strong>6) </strong> Mit einem Klick auf diesen Reiter öffnen Sie die Styling-Optionen.</p>
                    <ul>
                        <li><h3>Styling-Optionen</h3></li>
                        <li><p><strong>6.1) </strong> Handelt es sich bei Ihrem Datensatz um einen Punktdatensatz, können Sie hier ein Icon auswählen, mit dem die jeweiligen Punkte visualisiert werden sollen.</p></li>
                        <li><p><strong>6.2) </strong> Mit dieser Checkbox legen Sie fest, ob alle Entitäten des Datensatzes mit derselben Farbe dargestellt werden sollen oder basierend auf einer ihrer Attribute farblich angepasst werden sollen. Aktivieren Sie diese Checkbox, bestimmen Sie das gewünschte Attribut bitte wie in 6.2.1 beschrieben.</p></li>
                        <li><p><strong>6.2.1) </strong> Haben Sie die Checkbox "Farbe nach Attributen" aktiviert, erscheint dieses Auswahlfeld, in dem alle Attribute der Einträge Ihres Datensatzes aufgelistet werden. Bestimmen Sie hier bitte das Attribut, anhand dessen die Farben generiert werden sollen.</p></li>
                        <li><p><strong>6.2.2) </strong> Sobald Sie in 6.2.1 ein Attribut ausgewählt haben, erscheint diese Checkbox, sofern es sich nicht um ein Attribut mit numerischen Werten handelt. Hier haben Sie die Option, Ihre Daten nicht auf Basis einer ausgewählten Farbe zu visualisieren, sondern gleichmäßig verteilt über ein Regenbogenfarbspektrum. Dies kann zur besseren Unterscheidung einzelner Punkte hilfreich sein.</p></li>
                        <li><p><strong>6.3) </strong> Haben Sie weder "Farbe nach Attributen" ausgewählt bzw. bei "Farbe nach Attributen" nicht die Checkbox "Regenbogenfarbspektrum" aktiviert, können Sie hier eine Farbe bestimmen, auf deren Basis die Daten visualisiert werden. Ein Klick auf das farbige Viereck der Textbox öffnet das Farbauswahlfeld.</p></li>
                    </ul></li>
                <li><p><strong>7) </strong> Mit einem Klick auf diesen Reiter öffnen Sie die Funktionen, mit denen Sie bestimmte Objekteigenschaften festlegen müssen, die Einrichtungsdaten wie Name, Adresse und ähnliches der in der Datei enthaltenen Objekte festlegen müssen.</p>
                    <ul>
                        <li><h3>Einrichtungsdaten</h3></li>
                        <li><p><strong>7.1) </strong> Hier wählen Sie aus allen Attributen der Einträge Ihrer hochgeladenen Datei das Attribut aus, welches einen eindeutigen, individuellen Namen des Eintrags enthält. Dies ist für bestimmte Funktionen von CoSI relevant. Sollte ein solches Attribut nicht existieren, lassen Sie es bitte einfach frei.</p></li>
                        <li><p><strong>7.2) </strong> Hier wählen Sie aus allen Attributen der Einträge Ihrer hochgeladenen Datei ein Attribut aus, was den Typ des jeweiligen Eintrags am Besten beschreibt. Handelt es sich bei Ihrem Datensatz beispielsweise um eine Reihe von unterschiedlichen Einrichtungen, könnte hier als Attribut eines gewählt werden, dass Werte wie "Kindergarten", "Krankenhaus" oder "Hotel" enthält.</p></li>
                        <li><p><strong>7.3) </strong> Für die korrekte Darstellung in manchen Werkzeugen von CoSI ist eine vollständige Adresse hilfreich. Sofern ein Attribut mit dem Namen "Adress" oder "address" vorhanden ist, wird Ihnen dieser Teil der Funktionen nicht angezeigt. Sollte ein solches Attribut aber nicht existieren, können Sie aus bestimmten im Vorfeld automatisch erkannten Attributen wie "Straße" oder "plz" wählen. Sie können mehrere dieser Felder auswählen und so die Adresse entsprechend zusammenstellen.</p></li>
                        <li><p><strong>7.4) </strong> Sollte keines der automatisch erkannten Attribute die korrekten Adressdaten enthalten, können Sie mit dem Button "Aus allen Objekteigenschaften wählen" alle Attribute anzeigen lassen, um daraus die Adresseigenschaften auszwählen. Sollten in dem Datensatz keine entsprechenden Informationen hinterlegt sein, können Sie dieses Auswahlfeld ignorieren.</p></li>
                    </ul></li>
                </li>
                <li><p><strong>8) </strong> In diesem Reiter legen Sie fest, welche Daten für das Filterwerkzeug von CoSI verfügbar gemacht werden sollen.</p>
                    <ul>
                        <li><h3>Filterdaten</h3></li>
                        <p>Unter CoSIs Werkzeugen finden Sie auch das Filterwerkzeug, mit denen Sie alle Datensätze nach bestimmten Kriterien filtern können. Bitte bestimmen Sie hier, welche der Attribute Ihrer Daten für den Filter verfügbar gemacht werden sollen.</p>
                        <li><p><strong>8.1) </strong> Mit einem Klick auf diesen Button öffnet sich ein Auswahlfeld, mit Hilfe dessen Sie ein Attribut zur weißen Liste des Filters hinzufügen können.</p></li>
                    </ul></li>
                <li><p><strong>9) </strong> In diesem Reiter legen Sie fest, welche numerischen Werte für das Versorgungsanalysewerkzeug verfügbar gemacht werden sollen.</p>
                    <ul>
                        <li><h3>Numerische Werte</h3></li>
                        <p>Mit Hilfe der Versorgungsanalyse können Sie unterschiedlichste Zahlwerte gegeneinander verrechnen. In diesem Bereich bestimmen Sie Attribute, die numerische Werte enthalten, die für die Versorgungsanalyse bereitgestellt werden sollen. Dies können alle sinnvoll quantitativ bemessbaren Werte sein, wie beispielswiese "Budget", "Einwohnerzahl", "Fläche" oder "Besuche pro Woche" etc.</p>
                        <li><p><strong>9.1) </strong> Für die bessere Visualisierung in einer späteren Tabelle, können Sie hier dem numerischen Wert einen sinnvollen Namen geben, sollte das Attribut nicht sinnvoll benannt sein. So könnten Sie beispielsweise "budget_21" in "Verfügbare Mittel 2021" umbenennen.</p></li>
                        <li><p><strong>9.2) </strong> Hier sehen Sie die ID des Attributs und dahinter in Klammern einen Beispielwert aus dem ersten Eintrag.</p></li>
                        <li><p><strong>9.3) </strong> Mit dieser Checkbox fügen Sie das Attribut zu den numerischen Werten hinzu.</p></li>
                    </ul></li>
                </li>
                <li><p><strong>10) </strong> Mit einem Klick auf den jeweiligen Button brechen Sie den Vorgang ab und schließen das Fenster oder Bestätigen den Vorgang und fügen den Layer zu CoSI hinzu.</p></li>
            </ul>
        </div>
    </div>
