<table class="forged_table">
    <tr class="head_row">
        <th>
            <div class="styling_helper head_scope">
                {{ label }}
            </div>
        </th>
        <th>
            <div class="styling_helper">
                {{ Array.isArray(selectedFieldA.id) ? "Aufsummierte Auswahl" : selectedFieldA.id }}
            </div>
        </th>
        <th>
            <div class="styling_helper">
                {{ Array.isArray(selectedFieldB.id) ? "Aufsummierte Auswahl" : selectedFieldB.id }}
            </div>
        </th>
        <th v-if="fActive_A || fActive_B">
            <div class="styling_helper">
                Kapazität
            </div>
        </th>
        <th v-if="fActive_A || fActive_B">
            <div class="styling_helper">
                Bedarf
            </div>
        </th>
        <th>
            <div class="styling_helper">
                {{ Array.isArray(selectedFieldA.id) ? "Aufsummierte Auswahl" : selectedFieldA.id }} / {{ Array.isArray(selectedFieldB.id) ? "Aufsummierte Auswahl" : selectedFieldB.id }}
            </div>
        </th>
        <th>
            <div class="styling_helper">
                Bedarfsdeckung (1,0 ~ 100%)
            </div>
        </th>
    </tr>
    <tr
        v-for="result in results"
        :key="result.scope"
    >
        <td class="row_head">
            <div class="styling_helper scope">
                {{ result.scope }}
            </div>
        </td>
        <td>
            <div
                class="styling_helper"
            >
                {{ result.paramA_val.toLocaleString('de-DE') }}
                <span v-if="result.data.incompleteDataSets_A > 0">*</span>
                <div class="hover_helper" v-if="result.data.incompleteDataSets_A > 0">
                    {{ result.data.incompleteDataSets_A.toLocaleString('de-DE') }} / {{ result.data.dataSets_A.toLocaleString('de-DE') }}
                </div>
            </div>
        </td>
        <td>
            <div
                class="styling_helper"
            >
                {{ result.paramB_val.toLocaleString('de-DE') }}
                <span v-if="result.data.incompleteDataSets_B > 0">*</span>
                <div class="hover_helper" v-if="result.data.incompleteDataSets_B > 0">
                    {{ result.data.incompleteDataSets_B.toLocaleString('de-DE') }} / {{ result.data.dataSets_B.toLocaleString('de-DE') }}
                </div>
            </div>
        </td>
        <td v-if="fActive_A || fActive_B">
            <div class="styling_helper">
                {{ result.capacity.toLocaleString('de-DE') }}
            </div>
        </td>
        <td v-if="fActive_A || fActive_B">
            <div class="styling_helper">
                {{ result.need.toLocaleString('de-DE') }}
            </div>
        </td>
        <td>
            <div class="styling_helper">
                {{ result.relation.toLocaleString('de-DE') }}
            </div>
        </td>
        <td>
            <div class="styling_helper">
                {{ result.coverage.toLocaleString('de-DE') }}
            </div>
        </td>
    </tr>
</table>