
    <div class="info_template">
        <div class="info_header">
            <h3>Datenvisualisierung</h3>
        </div>
        <div class="info_abstract">
            <p>Das Werkzeug "Datenvisualisierung" verwaltet Datensätze, für die Sie Graphen generiert haben und ermöglicht es Ihnen, diese zu exportieren. 
            </p>
        </div>
        <div class="info_content">
            <img src="./assets/cg_ansicht_nummeriert.jpg">
            <p>Im Folgenden finden Sie die einzelnen Funktionen des Werkzeugs im Detail erklärt:</p>
            <ul>
                <li><p><strong>1) </strong> Über den Button öffnen Sie dieses Hilfsfenster.</p></li>
                <li><p><strong>2) </strong> Manchmal werden für einen Datensatz direkt unterschiedliche Graphen gerendert. In diesem Fall sehen Sie die Buttons für ein Balkendiagramm und ein Liniendiagramm. Mit dem jeweiligen Button wechseln Sie zwischen den dazugehörigen Ansichten.</p></li>
                <li><p><strong>3) </strong> Mit diesem Button löschen Sie alle Graphen, die zu diesem Datensatz gehören aus dem Werkzeug.</p></li>
                <li><p><strong>4) </strong> Über diesen Button können Sie das ausgewählte Diagramm als .PNG exportieren.</p></li>
                <li><p><strong>5) </strong> Das Datenvisualisierungswerkzeug ist in der Lage mehrere Datensätze zu verwalten. Wenn Sie bereits für mehrere Datensätze Graphen erstellt haben, können Sie über dieses Menü zwischen den unterschiedlichen Datensätzen und ihren jeweiligen Visualisierungen hin- und her wechseln.</i>.</p></li>
                <li><p><strong>6) </strong> Über diesen Button exportieren Sie alle Datensätze im Datenvisualisierungswerkzeug als .PNG.</p></li>
                <li><p><strong>7) </strong> Über diesen Button resetten Sie das Datenvisualisierungswerkzeug und entfernen alle bereits geladenen Datensätze </p></li>
            </ul>
        </div>
    </div>
