
    <div class="info_template">
        <div class="info_header">
            <h3>Versorgungsanalyse</h3>
        </div>
        <div class="info_abstract">
            <p>Das Werkzeug "Versorgungsanalyse" berechnet das Verhältnis zweier Datensätze zueinander. Die Datensätze können entweder statistische Daten oder Einrichtungsdaten aus dem Menü "Themen/ Fachdaten". Damit die Versorgungsanalyse verwendet werden kann, müssen mindestens zwei Datensätze geladen worden sein. 
            </p>
        </div>
        <div class="info_content">
            <img src="./assets/cc_ansicht_nummeriert_1.jpg">
            <p>Im Folgenden finden Sie die einzelnen Funktionen des Werkzeugs im Detail erklärt:</p>
            <ul>
                <li><p><strong>1) </strong> Über den Button öffnen Sie dieses Hilfsfenster.</p></li>
                <li><p><strong>2) </strong> Über den Button können Sie zwischen Einrichtungs- und statistischen Datensätzen umschalten.</p></li>
                <li><p><strong>3) </strong> Mit dem Select-Feld wählen Sie einen der geladenen Datensätze aus.</p></li>
                <li><p><strong>4) </strong> Bei Einrichtungsdatensätzen können Sie einen Faktor (F) angeben, der bestimmt, wieviele Einheiten der ausgewählten Einrichtung für den Referenzdatensatz benötigt werden. <i>Wollen Sie beispielsweise die Anzahl der Öffentlichen Schulen gegen die Anzahl der Bevölkerung unter 18 rechnen und geben einen Faktor von 0,001 an, würde das bedeuten, dass eine Schule pro 1000 Mitglieder der Referenzgruppe benötigt wird.</i> Ist ein Faktor (F) angegeben, werden die Spalten "Kapazität" und "Bedarf" in der Berechnungstabelle mit angegeben.</p></li>
                <li><p><strong>5) </strong> Manche Einrichtungsdatensätze haben andere Parameter, als nur ihre Anzahl in den ausgewählten Gebieten. So kann man bei Öffentlichen Schulen beispielsweise den Datensatz "Schülerzahl" abfragen oder bei Krankenhäusern die Anzahl der stationären Plätze. <i>Nicht jeder Einrichtungsdatensatz bietet zusätzliche Parameter!</i>.</p></li>
                <li><p><strong>6) </strong> Bei statistischen Daten können Sie einen Wert angeben, um bei der Bedarfsdeckung die Zahlen pro X Mitglieder der Referenzgruppe zu erhalten. Geben Sie hier beispielsweise 1000 an, wird die Bedarfsdeckung um den Faktor 1000 multipliziert.</p></li>
                <li><p><strong>7) </strong> Vertauschen Sie alle Angaben für das erste Feld, mit allen Angaben für das zweite Feld. </p></li>
                <li><p><strong>8) </strong> Setzen Sie alle Werte zurück.</p></li>
                <li><p><strong>9) </strong> Verrechnen Sie die ausgewählten Datensätze. Es wird eine Datentabelle mit allen Werten erzeugt.</p></li>
            </ul>
        </div>
    </div>
