
    <div class="info_template">
        <div class="info_header">
            <h3>Versorgungsanalyse</h3>
        </div>
        <div class="info_abstract">
            <p>Das Werkzeug "Versorgungsanalyse" berechnet das Verhältnis zweier Datensätze zueinander. Die Datensätze können entweder statistische Daten oder Einrichtungsdaten aus dem Menü "Themen/ Fachdaten". Damit die Versorgungsanalyse verwendet werden kann, müssen mindestens zwei Datensätze geladen worden sein. 
            </p>
        </div>
        <div class="info_content">
            <img src="./assets/cc_ansicht_nummeriert_1.jpg">
            <p>Im Folgenden finden Sie die einzelnen Funktionen des Werkzeugs im Detail erklärt:</p>
            <ul>
                <li><p><strong>1) </strong> Über den Button öffnen Sie dieses Hilfsfenster.</p></li>
                <li><p><strong>2) </strong> Über den Button kann die Kartenvisualisierung ein- und wieder ausgeblendet werden.</p></li>
                <li><p><strong>3) </strong> Mit den Vor- und Zürückbuttons können Sie die statistischen Datensatze fließend durchschalten.</p></li>
                <li><p><strong>4) </strong> Das Jahr, für den der statistische Datensatz visualisiert wird. Standardmäßig ist das aktuellste, verfügbare Jahr ausgewählt.</p></li>
                <li><p><strong>5) </strong> Hier können Sie ein Vergleichsjahr auswählen. Die prozentuale Differenz zum ersten, ausgewählten Jahr wird dann ebenfalls auf der Karte eingeblendet.</p></li>
                <li><p><strong>6) </strong> Das Auswahlfeld für die verfügbaren statistischen Datensätze</p></li>
                <li><p><strong>7) </strong> Die Legende für die farbliche Visualisierung der Karte. Wenn Sie mit der Maus über einen der Marker hovern, wird der Wert des zugehörigen, ausgewählten Gebiets angezeigt. Rechts und links werden der niedrigste und der höchste Wert noch einmal zusätzlich dargestellt. </p></li>
                <li><p><strong>8) </strong> Über den Button öffnen Sie dieses Hilfsfenster.</p></li>
                <li><p><strong>9) </strong> Mit dem Play-Button starten Sie die Animation der Datensätze über alle verfügbaren Jahre. In dem danebenstehenden Feld können Sie einen Wert eintragen, der angibt, wie schnell die einzelnen Animationsschritte durchlaufen werden (in Sekunden).</p></li>
                <li><p><strong>10) </strong> Lädt die aktuellen Daten in das Graphenvisualisierungswerkzeug und erzeugt dort einen Graphen.</p></li>
                <li><p><strong>11) </strong> Über den Button können Sie die Namen der ausgewählten Gebiete auf der Karte ein- und wieder ausblenden.</p></li>
            </ul>
        </div>
    </div>
